.welcomeMessage {
	background-color: rgb(1, 212, 1);
	color: white;
	padding: 25px;
	font-size: 40px;
	border: none;
	border-radius: 10px;
	box-shadow: 5px 15px hsla(0, 0%, 0%, 0.147);
	cursor: default;
}
.loginPrompt {
	background-color: red;
	color: white;
	padding: 25px;
	font-size: 40px;
	border: none;
	border-radius: 10px;
	box-shadow: 5px 15px hsla(0, 0%, 0%, 0.147);
	cursor: default;
}
